*{
  margin: 0; padding: 0;
  font-family: "DM Sans", sans-serif;
}

#root{
  background: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;
}

section{
  border: solid 2px white;
  width: 70%; height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_container{
  border: dotted 2px lightgreen;
  width: 70%; height: 60%;;
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap; /* Evita que las tarjetas se ajusten en nuevas líneas */
  align-items: center;
}

.slider_container .card{
  height: 90%; width: 200px;
  border: solid 2px yellow;
  background-color: aquamarine;
  flex-shrink: 0; /*Evita que las tarjetas se reduzcan para ajustarse al contenedor*/
}

.slider_container .card:nth-child(n):not(:last-child){
  margin-right: 50px;
}